/* Pagination.css */
.pagination {
  position: relative; 
  left: 30px;
  width: fit-content;
  background-color:transparent;
  z-index: 1000;    
  }
  
  .page-item {
    margin: 5px;
  }
  
  .page-link {
    text-decoration: none;
    background: lightsteelblue;
    color: #fff;
    border: 1px solid lightsteelblue;
    border-radius: 3px;
    padding: 10px 20px;
  }
  
  .page-link:hover {
    background: lightsteelblue;
    color: #fff;
  }
  
  .active .page-link {
    background: #b35f00;
  }
  